<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}    
		<h2>Load {{ lumber_load_detail.lumberload_id }}</h2>
		{% if lumber_load_detail.logdata_set.all %}
				<table>
					<tr>
						<th>Log ID</th>
						<th>Butt Diameter</th>
						<th>Log Length</th>
						<th>Species</th> 
						<th>Recorded Date</th>
						<th>Actions</th>
					</tr>
					{% for log in lumber_load_detail.logdata_set.all %}
					<tr>
						<td>{{ log.logdata_id }} </td>
		    			<td>{{ log.butt_diameter }} {{ log.diameter_unit }}</td>
		    			<td>{{ log.log_length }} {{ log.length_unit }}</td>
		    			<td>{{ log.speciestreetype }} </td>
		    			<td>{{ log.recorded_date }} </td>
						<td>
							<button type="button"><a href="{% url 'lumber_scaling:log-data-edit' log.logdata_id %}">Edit Log</a></button> 					
							<button type="button"><a href="{% url 'lumber_scaling:log-data-delete' log.logdata_id %}">Delete Log</a></button>
						</td>
					</tr>
					{% endfor %}
				</table>
		{% else %}
			<p>No data has been entered for this plot.</p>
		{% endif %}
		<a href="{% url 'lumber_scaling:lumber-load-list' %}">Return to load overview</a>
		<a href="{% url 'lumber_scaling:log-data-add' lumber_load_detail.lumberload_id %}"> Add a new log</a>
{% endblock %}
