{% extends "base_listview.html" %}

{% block sidebar %}
	{% include "sidebar_filter.html" %}
{% endblock %}

{% block main %}
  	<a class="btn btn-primary" href="{% url 'habitat_management:firebreak-add' %}">Add New Burn Compartment</a>
    <table class="table table-striped table-bordered table-responsive table-hover">
    	<tr id="header_row">
    		<th>ID</th>
    		<th>Description</th>
    		<th>Action</th>
    	</tr>
    	{% for firebreak in filter %}
    	<tr>
	    	<td>{{firebreak.fbkln_id}}</td>
	    	<td>{{firebreak.description}}</td>
    		<td>	
				<a class="btn btn-warning btn-xs" href="{% url 'habitat_management:firebreak-edit' firebreak.fbkln_id %}">Details</a> 					
				<a class="btn btn-danger btn-xs" href="{% url 'habitat_management:firebreak-delete' firebreak.fbkln_id %}">Delete</a>
			</td>
    	</tr>
    	{% endfor %}
    </table>
{% endblock %}
