{% extends "base_listview.html" %}

{% block sidebar %}
	{% include "sidebar_filter.html" %}
{% endblock %}

{% block main %}
  	<a class="btn btn-primary" href="{% url 'habitat_management:habitat-site-add' %}">Add New Habitat Enhancement Site</a>
    <table class="table table-striped table-bordered table-responsive table-hover">
    	<tr id="header_row">
    		<th>ID</th>
    		<th>Description</th>
    		<th>Action</th>
    	</tr>
    	{% for site in filter %}
    	<tr>
	    	<td>{{site.habenhpt_id}}</td>
	    	<td>{{site.description}}</td>
    		<td>	
				<a class="btn btn-warning btn-xs" href="{% url 'habitat_management:habitat-site-edit' site.habenhpt_id %}">Details</a> 					
				<a class="btn btn-danger btn-xs" href="{% url 'habitat_management:habitat-site-delete' site.habenhpt_id %}">Delete</a>
			</td>
    	</tr>
    	{% endfor %}
    </table>
{% endblock %}
