{% extends "base_listview.html" %}

{% block sidebar %}
	{% include "sidebar_filter.html" %}
{% endblock %}

{% block main %}
  	<a class="btn btn-primary" href="{% url 'forest_management:planned-activity-add' %}">Add New Sawmill</a>
    <table class="table table-striped table-bordered table-responsive table-hover">
    	<tr id="header_row">
	    	<th>Name</th>
	    	<th>Phone Number</th>
	    	<th>Email Address</th>
	    	<th>Website</th>
	    	<th>Action</th>
    	</tr>
    	{% for mill in filter %}
    	<tr>
	    	<td>{{mill.name}}</td>
	    	<td>{{mill.phone}}</td>
	    	<td>{{mill.email|cut:" "|default:"Unknown"}}</td>
	    	<td>{{mill.website|default:"Unknown"}}</td>
			<td>
				<a class="btn btn-warning btn-xs" href="{% url 'lumber_scaling:sawmill-edit' mill.sawmill_id %}">Details</a>
				<a class="btn btn-danger btn-xs" href="{% url 'lumber_scaling:sawmill-delete' mill.sawmill_id %}">Delete</a></button>
			</td>
    	</tr>
    	{% endfor %}
    </table>
{% endblock %}
