{% extends "base_listview.html" %}

{% block sidebar %}
	{% include "sidebar_filter.html" %}
{% endblock %}

{% block main %}
  	<a class="btn btn-primary" href="{% url 'lumber_scaling:scaling-ticket-add' %}">Add New Ticket</a>
    <table class="table table-striped table-bordered table-responsive table-hover">
    	<tr id="header_row">
    	<th>Sawmill</th>
    	<th>Ticket Date</th>
    	<th>Species</th>
    	<th>Weight (tons)</th>
    	<th>Price/ton</th>
    	<th>Board Feet</th>
    	<th>Price/mfbm</th>
 		<th>Revenue</th>
    	<th>Action</th>
    	</tr>
    	{% for object in filter %}
    	<tr>
	    	{% if object.sawmill %}
	    		<td>{{object.sawmill}}</td>
	    	{% else %}
	    		<td>No sawmill selected</td> 
	    	{% endif %}
	    	<td>{{object.ticket_date}}</td>
	    	<td>{{object.species}}</td>
	    	<td>{{object.weight|default:"N/A"}}</td>
	    	<td>{{object.price_ton|default:"N/A"}}</td>
	    	<td>{{object.fbm|default:"N/A"}}</td>
	    	<td>{{object.price_mfbm|default:"N/A"}}</td>
	    	<td>{{object.revenue}}</td>
			<td>
				<a class="btn btn-warning btn-xs" href="{% url 'lumber_scaling:scaling-ticket-edit' object.scalingticket_id %}">Edit</a> 
				<a class="btn btn-danger btn-xs" href="{% url 'lumber_scaling:scaling-ticket-delete' object.scalingticket_id %}">Delete</a>
			</td>
    	</tr>
    	{% endfor %}
    </table>
{% endblock %}
