<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="en"> 
<head>     
	<title>{% block title %}{% endblock %}</title> 
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head> 
<body>       
	{% block content %}{% endblock %}     
	{% block footer %}     
	<hr>     
	<p>Geoapp loves you.</p>     
	{% endblock %} 
</body> 
</html>