{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'geoapp/css/style.css' %}" />

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"> 
<html lang="en"> 
<head>     
	<title>{% block title %}{% endblock %}</title> 
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head> 
<body>  
	<div id="page">     
		<div id="top"><h1>GeoForst - Land Management Tool</h1></div>
		<div id="topnav">
			<a class="topnav" href="/geoapp/home" target="_top">HOME</a>
			<a class="topnav" href="/geoapp/admin" target="_top">ADMIN</a>
			<a class="topnav" href="/geoapp/accounts/logout" target="_top">LOGOUT</a>
		</div>
		{% block header%} {% endblock %}
		{% block content %}{% endblock %}   
	</div>
</body> 
</html>