<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}
    <h2>Forest Inventory Plots</h2>
    <table id="table">
    <tr id="header_row">
    	<th>ID</th>
    	<th>Area</th>
    	<th>Area Unit</th>
    	<th>Radius</th>
    	<th>Radius Unit</th>
    	<th>Length X-axis</th>
    	<th>Length Y-axis</th>
    	<th>Length Unit</th>
    	<th>Geometry</th>
    	<th>Elevation</th>
    	<th>Elevation Unit </th>
    	<th>Position Description</th>
    	<th>Create Date</th>
    	</tr>
    	{% for plot in inventory_plots %}
    	<tr>
	    	<td><a href="{{plot.forestinventoryplot_id }}/edit">{{plot.forestinventoryplot_id}}</a></td>
    		<td>{{plot.plot_area}}</td>
    		<td>{{plot.plot_area_unit}}</td>
	    	<td>{{plot.plot_radius}}</td>
	    	<td>{{plot.plot_radius_unit}}</td>
	    	<td>{{plot.plot_xlength}}</td>
	    	<td>{{plot.plot_ylength}}</td>
	    	<td>{{plot.plot_length_unit.unitlengthtype_dsc}}</td>
	    	<td>{{plot.plot_geometry}}</td>
	    	<td>{{plot.elevation}}</td>
	    	<td>{{plot.elevation_unit}}</td>
	    	<td>{{plot.postion_description}}</td>
	    	<td>{{plot.plot_create_date}}</td>
			<td><a href="{{plot.forestinventoryplot_id }}/detail/">Plot {{plot.forestinventoryplot_id}} Data</a></td>
			<td><a href="{{plot.forestinventoryplot_id }}/delete/">Delete</a></td>
    	</tr>
    	{% endfor %}
    </table>
    <a href="/geoapp/inventory_plot/add/">Add a new plot.</a>
{% endblock %}
