<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}    
		<h2>Plot {{ plot_detail.forestinventoryplot_id }}</h2>
		{% if plot_detail.forestinventorydata_set.all %}
				<table>
					<tr>
						<th>ID</th>
						<th>Tree ID</th>
						<th>Species</th>
						<th>Collection Date</th>
						<th>Diameter</th> 
						<th>Diameter Units</th>
						<th>Height</th>
						<th>Height Units</th>
					</tr>
					{% for data in plot_detail.forestinventorydata_set.all %}
					<tr>
						<td> {{ data.forestinventorydata_id}} </td>
						<td> {{ data.tree }} </td>
						<td> {{ data.tree_species }}</td>
						<td> {{ data.collection_date }} </td>
						<td> {{ data.dbh }}</td> 
						<td> {{ data.dbh_unit }}</td> 
						<td> {{ data.height }} </td>
						<td> {{ data.height_unit }}</td> 
						<td>
							<a href="/geoapp/inventory_data/{{data.forestinventorydata_id}}/delete">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</table>
		{% else %}
			<p>No data has been entered for this plot.</p>
		{% endif %}
		<a href="/geoapp/inventory_plot">Return to plot overview.</a>
		<a href="/geoapp/inventory_data/{{plot_detail.forestinventoryplot_id}}/add">Add a new data point.</a>
{% endblock %}
