<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}
    <h2>Forest Inventory Plots</h2>
<!--     <ul>
        {% for plot in inventory_plots %}
           <li><a href="{{plot.forestinventoryplot_id }}/detail/">Plot ID = {{plot.forestinventoryplot_id}}</a></li>
        {% endfor %}
    </ul> -->
    <table>
    <tr>
    	<td>ID</td>
    	<td>Area (ft2)</td>
    	<td>Radius (ft)</td>
    	<td>Length X-axis (ft)</td>
    	<td>Length Y-axis (ft)</td>
    	<td>Geometry</td>
    	<td>Elevation</td>
    	<td>Position Description</td>
    	<td>Create Date</td>
    	</tr>
    	{% for plot in inventory_plots %}
    	<tr>
    		<td><a href="{{plot.forestinventoryplot_id }}/detail/">{{plot.forestinventoryplot_id}}</a></td>
    		<td>{{plot.plot_area_ft2}}</td>
	    	<td>{{plot.plot_radius_ft}}</td>
	    	<td>{{plot.plot_length_x_ft}}</td>
	    	<td>{{plot.plot_length_y_ft}}</td>
	    	<td>{{plot.plot_geometry}}</td>
	    	<td>{{plot.elevation}}</td>
	    	<td>{{plot.postion_description}}</td>
	    	<td>{{plot.plot_create_date}}</td>
    	</tr>
    	{% endfor %}
    </table>
    <a href="/geoapp/inventory_plot/add/">Add a new plot.</a>
{% endblock %}
