<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}
    <h2>Forest Inventory Plots</h2>
    <table id="table">
    <tr id="header_row">
    	<th>Plot Number</th>
    	<th>Latitude</th>
    	<th>Longitude</th>
    	<th>Position Description</th>
    	<th>Elevation</th>
    	<th>Create Date</th>
    	<th>Data</th>
    	<th>Action</th>
    	</tr>
    	{% for plot in inventory_plots %}
    	<tr>
	    	<td>{{plot.plot_number}}</td>
	    	<td>{{plot.latitude}}</td>
	    	<td>{{plot.longitude}}</td>
	    	<td>{{plot.position_description}}</td>
	    	<td>{{plot.elevation}} {{plot.elevation_unit}}</td>
	    	<td>{{plot.plot_create_date}}</td>
			<td><a href="{{plot.forestinventoryplot_id }}/detail/">Plot {{plot.plot_number}} Data</a></td>
			<td>
				<button><a href="{{plot.forestinventoryplot_id }}/edit/">Edit</a></button> 
				<button><a href="{{plot.forestinventoryplot_id }}/delete/">Delete</a></button>
			</td>
    	</tr>
    	{% endfor %}
    </table>
    <a href="/geoapp/inventory_plot/add/">Add a new plot</a>
{% endblock %}
