{% extends "geoapp/base_inventory.html" %}

{% block content %}    
		<h2>Plot {{ plot_detail.forestinventoryplot_id }}</h2>
		{% if plot_detail.forestinventorydata_set.all %}
				<table>
					<tr>
						<td>ID</td>
						<td>Tree ID</td>
						<td>Species</td>
						<td>Collection Date</td>
						<td>DBH (in)</td> 
					</tr>
					{% for data in plot_detail.forestinventorydata_set.all %}
					<tr>
						<td> {{ data.forestinventorydata_id}} </td>
						<td> {{ data.tree }} </td>
						<td>{{ data.species }}</td>
						<td>{{ data.collection_date }} </td>
						<td>{{ data.dbh_in }}</td> 
					</tr>
					{% endfor %}
				</table>
		{% else %}
			<p>No data has been entered for this plot.</p>
		{% endif %}
		<a href="{/add/">Add a new data point.</a>
{% endblock %}
