<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}
    <h2>Lumber Loads</h2>
    <button><a href="{% url 'geoapp:lumber-load-add' %}">Add New Load</a></button>
    <table id="table">
	    <tr id="header_row">
	    	<th>ID</th>
	    	<th>Scaling Ticket</th>
	    	<th>Load Date</th>
	    	<th>Load Comments</th>
	    	<th>Data</th>
	    	<th>Actions</th>
	    </tr>
	    {% for load in lumber_load %}
	    <tr>
		    <td>{{load.lumberload_id}}</td>
		   	{% if load.scalingticket %}
		   		<td><a href={% url 'geoapp:scaling-ticket-list' %}>{{load.scalingticket}}</a></td>
		   	{% else %}
		   		<td><a href={% url 'geoapp:scaling-ticket-add' %}>Add new ticket</a></td>
		   	{% endif %}
		   	<td>{{load.load_date}}</td>
		   	<td>{{load.load_comments}}</td>
		   	<td>
		  		<a href="{% url 'geoapp:lumber-load-detail' load.lumberload_id %}">Load {{ load.lumberload_id }} Data</a>
		   	</td>
			<td>
				<button><a href="{% url 'geoapp:lumber-load-edit' load.lumberload_id %}">Edit</a> </button>				
				<button><a href="{% url 'geoapp:lumber-load-delete' load.lumberload_id %}">Delete</a></button>
			</td>
	    </tr>
    	{% endfor %}  
    </table>  
{% endblock %}
