<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "geoapp/base_inventory.html" %}

{% block content %}
    <h2>Lumber Scaling Tickets</h2>
    <table id="table">
    <tr id="header_row">
    	<th>Mill</th>
    	<th>Recorded Date</th>
    	<th>Weight</th>
    	<th>Ticket Date</th>
    	<th>Action</th>
    	</tr>
    	{% for ticket in scaling_tickets %}
    	<tr>
	    	{% if ticket.sawmill %}
	    		<td>{{ticket.sawmill}}</td>
	    	{% else %}
	    		<td>No sawmill selected</td> 
	    	{% endif %}
	    	<td>{{ticket.ticket_date}}</td>
	    	<td>{{ticket.weight}}</td>
	    	<td>{{ticket.ticket_date}}</td>
			<td>
				<button><a href="{% url 'geoapp:scaling-ticket-edit' ticket.scalingticket_id %}">Edit</a></button> 
				<button><a href="{% url 'geoapp:scaling-ticket-delete' ticket.scalingticket_id %}">Delete</a></button>
			</td>
    	</tr>
    	{% endfor %}
    </table>
    <a href="{% url 'geoapp:scaling-ticket-add' %}">Add a new scaling ticket.</a>
{% endblock %}
