{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Welcome to GeoForst!</h1>
  <p><a class="btn btn-primary btn-lg" href={% url 'login' %} role="button">Login here</a></p>
</div>
 <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover" id="about">
            <h1 class="cover-heading">GeoForst land management.</h1>
            <p class="lead">Land management software for small scale forestry.</p>
          </div>
          <div class="mastfoot">
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}