{% extends "base.html" %} {% block content %}

<div class="jumbotron">
	<h1>Welcome to GeoForst!</h1>
	<p>
		<a class="btn btn-primary btn-lg" href={% url 'login' %}?next=/ role="button">Login
			here</a>
	<p>
		... or if you haven't registered yet then <a
			class="btn btn-primary btn-lg" href={%
			url 'registration_register' %} role="button">Register here</a>
	</p>
</div>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner cover" id="about">
				<h1 class="cover-heading">GeoForst</h1>
				<h2>Small Acreage Land Management Software</h2>
				<p class="lead">Land management software for small scale
					forestry.</p>
				<div class="row">
					<div class="col-md-3">
						<p>GeoForst is designed to provide land owners with a tool for
							managing data associated with land management activities to
							support information-based decisions. It provides a method for
							tracking treatments, activities, and measurements of features
							that are important to land owners such as timber, soil, and
							wildlife habitat improvements.</p>
					</div>
				</div>

				<p>Two versions are available, a "lite" version and a multi-user
					version.</p>
				<div class="row">
					<div class="col-lg-4">
						<img class="img-circle"
							src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
							alt="Generic placeholder image" width="140" height="140"> <a
							href="./packages/0.1/GForst_Lite_v0.1.zip">
							<h1>GeoForst Lite Edition</h1>
							<h2>Basic package for stand alone installs</h2>
							<h3>361 KB zip file</h3> Packaged QGIS Map with Spatialite
							database. This solution can be run on any any platform and data
							will be stored locally.
							<ul>
								<li>Data is stored on your personal computer</li>
								<li>No internet connection is needed once installed</li>
								<li>Tracks much of the same data as full version</li>
							</ul>
							<p>
								<a class="btn btn-default" href="#" role="button">View
									details &raquo;</a>
							</p>
					</div>
					<!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img class="img-circle"
							src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
							alt="Generic placeholder image" width="140" height="140"> <a
							href="http://geoforst.com">
							<h1>GeoForst Web Edition</h1>
							<h2>Beta version only</h2>
							<ul>
								<li>Tracks stand composition change over time</li>
								<li>Reporting interface available</li>
								<li>Web interface, no software installation needed</li>
								<li>Data is backed up daily</li>
								<li>Multiple users can work on the same project</li>
							</ul>
							<p>
								<a class="btn btn-default" href="#" role="button">View
									details &raquo;</a>
							</p>
					</div>
					<!-- /.col-lg-4 -->
				</div>
				<!-- /.row -->

					<p>
						<i>*Last time updated [DATE]</i>
					</p>
					</br>
					<h2>Software Requirements:</h2>
					<ul>
						<li>Linux, OSX, or Windows operating system</li>
						<li><a href="http://qgis.org">QGIS Long Term Support
								(LTS) version</a></li>
					</ul>
					<h2>Tutorials:</h2>
					<ul>
						<li><a href="http://torstenernst.com/blog/?p=331">Getting
								Started with GeoForst Lite</a></li>
					</ul>
					<h2>Source Code:</h2>
					<ul>
						<li><a href="https://bitbucket.org/torstenernst/fsp">Bitbucket
								Repository</a></li>
					</ul>

			</div>
			<div class="mastfoot"></div>
		</div>
	</div>
</div>
</body>
{% endblock %}
