Django==1.8.8
argparse==1.2.1
django-crispy-forms==1.5.2
django-environ==0.4.0
django-filter==0.11.0
django-mptt==0.7.4
django-mptt-tree-editor==0.1.2
django-pagination-bootstrap==1.0.7
django-registration==2.0.3
django-registration-redux==1.2
django-tastypie==0.13.1
psycopg2==2.6.1
python-dateutil==2.4.2
python-mimeparse==1.5.1
six==1.10.0
wheel==0.26.0
wsgiref==0.1.2
