<!DOCTYPE html>
<html>
<head>
	<title>GeoForst Web</title>
	<meta charset=UTF-8">
	<script type="text/javascript" src="../../static/geoforst/javascript/OpenLayers.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript">
	
var map;

function init() {
			var navigationControl = new OpenLayers.Control.Navigation({});
			var controlsArray = [
					navigationControl,
					new OpenLayers.Control.PanZoomBar({}),
					new OpenLayers.Control.LayerSwitcher({}),
					new OpenLayers.Control.Permalink(),
					new OpenLayers.Control.MousePosition({})
	];
			
map = new OpenLayers.Map('map_element', 
		{  
			controls: controlsArray,
			projection: 'EPSG:4326',   
			//maxExtent: new OpenLayers.Bounds(-83.66520467630417,34.45825690184,-83.48344212907318,34.73743345942654),
			maxExtent: new OpenLayers.Bounds(-128 * 156543.0339,   -128 * 156543.0339,   128 * 156543.0339,   128 * 156543.0339),
			//maxResolution: 15654300,   
			units: 'm',
			projection: new OpenLayers.Projection('EPSG:900913'),   
			displayProjection: new OpenLayers.Projection("EPSG:4326")
		});
		
// Add layers to the map.
 var google_physical = new OpenLayers.Layer.Google("Google Physical",     
		{
			type: google.maps.MapTypeId.TERRAIN,
			epsg:'900913'
		}); 

 var google_hybrid = new OpenLayers.Layer.Google("Google Hybrid",     
			{
				type: google.maps.MapTypeId.HYBRID,
				epsg:'900913'
			}); 

var wms_layer_map = new OpenLayers.Layer.WMS('Base layer', 'http://vmap0.tiles.osgeo.org/wms/vmap0',  
		{
			layers: 'basic',
			epsg:'4326'
		},   
		{
			isBaseLayer: true
		});

var lyrLandArea = new OpenLayers.Layer.WMS("LandArea", "http://geo.torstenernst.com/geoserver/fsp/wms",
		{
			layers: "fsp:land_area", 
			version: '1.1.0',
			epsg:'4326',
			transparent:'true'
		},
		{
			isBaseLayer: false
		});

var lyrStandArea = new OpenLayers.Layer.WMS("StandArea", "http://geo.torstenernst.com/geoserver/fsp/wms",
		{
			layers: "fsp:stand_area", 
			version: '1.1.0',
			epsg:'4326',
			transparent:'true'
		},
		{
			isBaseLayer: false
		});

map.addLayers([google_physical,
               google_hybrid,
               lyrLandArea,
               lyrStandArea]);
               
                     
// Set view to zoom maximum map extent
map.zoomToMaxExtent();
} //End of init.

</script>
</head>
<body onload="init()">
	<div id="map_element" style="width: 500px; height: 500px;"></div>
</body>
</html>