<script>
$(function() {
  $( "#id_form_date_field" ).datepicker();
});
</script>

{% extends "base.html" %}

{% block content %}    
{% autopaginate plot_detail.forestinventorydata_set.all 10 %}
		<h2>Plot {{ plot_detail.forestinventoryplot_id }}</h2>
			<a class="btn btn-primary" href="{% url 'forest_inventory:inventory-data-add' plot_detail.forestinventoryplot_id %}">Add New Data Point</a>
		{% if plot_detail.forestinventorydata_set.all %}
				<table class = "table table-striped table-bordered table-responsive table-hover">
					<tr id="header_row">
						<th>ID</th>
						<th>Tree ID</th>
						<th>Species</th>
						<th>Collection Date</th>
						<th>Diameter (in)</th> 
						<th>Height</th>
						<th>Age</th>
						<th>Actions</th>
					</tr>
					{% for data in plot_detail.forestinventorydata_set.all %}
					<tr>
						<td> {{ data.forestinventorydata_id}} </td>
						<td> {{ data.tree }} </td>
						<td> {{ data.speciestreetype }}</td>
						<td> {{ data.collection_date }} </td>
						<td> {{ data.dbh }}</td> 
						<td> {{ data.height }} </td>
						<td> {{ data.age}}</td>
						<td>
							<a class="btn btn-warning btn-xs" href="{% url 'forest_inventory:inventory-data-edit' data.forestinventorydata_id %}">Edit</a>
							<a class="btn btn-danger btn-xs" href="{% url 'forest_inventory:inventory-data-delete' data.forestinventorydata_id %}">Delete</a></button>
						</td>
					</tr>
					{% endfor %}
				</table>
		{% else %}
			<p>No data has been entered for this plot.</p>
		{% endif %}
		<a href="{% url 'forest_inventory:inventory-plot-list' %}">Return to plot overview</a>
{% paginate %}
{% endblock %}
